.box {
    width: 90%;
    max-width: 200px;
    border: 1px dashed #f7a239;
    padding: 5px;
}

img {
    width: 100%; /* takes the 100 % width of its container (.box div)*/
    height: 100%; /* takes the 100 % height of its container (.box div)*/
}
fluent-card {
    --card-height: 400px;
    --card-width: 500px;
    padding: 20px;
    margin: 12px;
}

.class-override {
    height: 163px;
    width: 300px;
}

.state-override {
    --card-width: 350px;
    --card-height: 300px;
    --elevation: 6;
    background-color:aqua;
}

    .state-override:hover {
        --elevation: 12;
    }

.contents {
    display: flex;
    flex-direction: column;
}
