@page "/"

<PageTitle>Index</PageTitle>
@foreach (Card c in g.cards)
{
    <div class="box">
        <img src="/images/@c.image" />
    <p>Réponse : <input type="text" value="@c.data" @oninput="(s)=>onchange(s, c)" /></p>
    <p>La réponse est @check(c)</p>
    </div>
}

@code{
    Game g = new();

    void onchange(ChangeEventArgs e, Card c)
    {
        c.data = e.Value.ToString();
        StateHasChanged();
    }
    string check(Card c)
    {
        string result = "incorrecte";
        if (c.data!=null && c.answer!=null)
            result = c.data.ToLower() == c.answer.ToLower() ? "correcte" : "incorrecte";
        return result;
    }
}
