@inherits LayoutComponentBase

<PageTitle>Jeu Cousinzins 2023</PageTitle>

<div class="container">
    <div class="main">
        <div class="content">
            <main>
                <ErrorBoundary>
                    <ChildContent>
                        @Body
                    </ChildContent>
                    <ErrorContent Context="ex">
                        <p class="error">@ex.Message</p>
                    </ErrorContent>
                </ErrorBoundary>
            </main>
        </div>
    </div>
</div>